.talentTree_container_line{
    display: flex;
    padding-top: .7rem;
}

.talentTree_container_line_item{
    flex:1;
    display: flex;
    justify-content: center;
}

.talentItem_body{
    position: relative;
}
.talentItem_body img{
    /* border: 1px red solid; */
    width: 2.75rem;
    height: 2.75rem;
}
.talentItem_border{
    width: 2.6rem;
    height: 2.5rem;
    top: .05rem;
    position: absolute;
    border-radius: .5rem;
    border: .1rem #686868 solid;
}

.talentItem_border_green{
    border: .1rem #1ae91b solid;
}

.talentItem_border_full{
    border: .1rem #ffd100 solid;
}

.talentItem_level{
    position: absolute;
    bottom: 0;
    right: -.5rem;
    color: #ffffff;
    font-size: .5rem;
    line-height: .5rem;
    padding: .15rem;
    background-color: #000000;
    border-radius: .2rem;
    border: .08rem solid #37362e;
}
.talentItem_level_full{
    color:#ffd100;
}
.talentItem_level_green{
    color:#1ae91b;
}
.talentItem_tips_required{
    color:#fb1410;
    font-size: .75rem;
}
.talentItem_tooltips{
    border-radius: 6px;
    border: solid 2px #6e6e6e33;
    width: auto;
    max-width: 15rem;
    background-color: #04091d50 !important;
    padding: .5rem 1rem;
}
.talentItem_tips_cancel{
    font-size: .75rem;
    color: #fb1410;
}
.talentItem_tips_learn{
    font-size: .75rem;
    color: #1ae91b;
}