.talentTree{
    /* background-color: aliceblue; */
}

.talentTree_header{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.talentTree_header_profession{
    display: flex;
    color: #ffffff;
}
.talentTree_header_level{
    color: #ffffff;
}
.talentTree_header_pointer{
    color: #ffffff;
}
.talentTree_header_button_group{
    display: flex;
    vertical-align: middle;
}
.talentTree_header_button{
    cursor: pointer;
}
.talentTree_header_button img{
    display: block;
}
.talentTree_container{
    display: flex;
    justify-content: center;
}

