.talentList{
     padding: 0;
}

.talent{
    list-style: none;
}
.talent_link{
    text-decoration: none;
}
.talent_item{
    display: flex;
    padding: .5rem 1rem;
    justify-content:space-between;
}

.talent_name{
    /* flex: 1; */
    align-self: center;
    color: black;
}
.talent_logo{
    /* flex:1; */
}
.talent_logo img{
    height: 5rem;
}